<div ng-controller="cartCtrl">
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/responsive.css">
      </head>
      <body>
       
        <div class="header-area">
            <div class="container">
                <div class="row">
        <div class="product-big-title-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-bit-title text-center">
                            <h2>Поръчка</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-product-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row" ng-show="items.length != 0">
                    Въведете номера на масата:
                    <input type="text" ng-model="tableNumber">
                </div>
                <div class="single-product-area">
                            <div class="row">
                                <div class="col-md-3 col-sm-6" ng-repeat="item in items">
                                    <div class="single-shop-product" >
                                          <div>
                                                <img src="{{item.image}}" alt="" />
                                            </div>
                                        <div style="height: 50px;">
                                          <div><h2>{{item.name}}</h2>
                                          </div>
                                        </div>
                                        <div class="row" style="margin-left: 0px">
                                          <input class="col-md-4" min="1" type="number" ng-model="item.quantity" />
                                          <div class="col-md-8" style="float: right; margin-top: 10px; font-weight: bold; text-align: right">
                                            {{item.price}} BGN
                                          </div>
                                        </div> 
                                        <div class="product-option-shop">
                                            <button class="add_to_cart_button" ng-click="removeFromOrder(item)">Премахни</button>
                                        </div>                
                                    </div>
                                  </div>  
                            </div>
                        </div>
                    </div>
                <div class="product-option-shop" style="text-align: center" ng-show="items.length != 0 && isUserChoosing">
                    <button class="add_to_cart_button" ng-click="makeOrder()">Поръчай</button>
                </div>
                <div ng-show="!isUserChoosing">
                    <div style="text-align: center"><h2>Вашата поръчка се обработва</h2></div> 
                </div> 
            </div>
        </div>
      </body>
    </html>
  </div>
  